<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>Your Story</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
  <div class="container">
    <h1>@Model.Noun's Journey</h1>
    <p>This story begins in @Model.Location during the day in a(n) @Model.Adjective place.</p>
    <p>A @Model.Adjective @Model.Noun @(Model.Verb)s @Model.Adverb. It is @Model.Adverb @Model.Adjective. The @Model.Noun remembers to @(Model.Verb) smack into @Model.DeviceNoun. Without @(Model.Noun)s, @Model.Noun enters @Model.Adverb and announces, "@(Model.Exclamation)!" @Model.DeviceNoun @(Model.Verb)s.</p>
    <p>Later, @Model.Noun is @Model.Adjective at times. @Model.Noun pulls the @Model.DeviceNoun to within @Model.LengthExpression, and @(Model.DeviceRelatedVerb)s a @(Model.DeviceRelatedNoun) on the @Model.DeviceNoun.</p>
    <p>Feeling @Model.Adjective, @Model.Noun @(Model.Verb)s with a "@(Model.Exclamation)". @Model.Noun @(Model.DeviceRelatedVerb)s.</p>
  </div>
</body>
</html>