<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>Your Story</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
  <div class="container">
    <h1>@Model.Noun's Journey</h1>
    <p>This story begins in Phoenix during the day in a(n) @Model.Adjective place.</p>
    <p>A @Model.Adjective @Model.Noun @Model.Verb  @Model.Adverb. It is @Model.Adverb. @Model.Noun remembers @Model.Noun\'s @Model.Verb\s and @Model.Verb\s smack into @Model.Noun. Without @Model.Noun\s @Model.Noun enters @Model.Adverb and announces @Model.Exclamation. @Model.Noun @Model.Verb\s.</p>
    <p>Later, @Model.Noun can be @Model.Adjective at times. Device pulled to within expression for length, noun device-possible-verbs the local noun. Noun leaves a noun on their other device.</p>
    <p>@Model.Adjective, @Model.Noun @Model.Verb\s to @Model.Exclamation. @Model.Noun @Model.Verb\s.</p>
  </div>
</body>
</html>